@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,200;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html,
body {
    /* font-family: 'Raleway', sans-serif; */
    background-color: burlywood;
    height: 100%;
    width: 100%;
}


.rect {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: blue;
    height: 70px;
    width:  70px;
    border-radius: 50px;
}

.heading {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 100px;   
}

